<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="x-icon" href="../images/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="../css/about.css">
  <link rel="stylesheet" href="../css/color.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>

  <div class="header-container">
    <div class="header">
      <div class="logo">Eduhub</div>
      <div class="list-items">
        <ul>
          <li><a href="../index.html">HOME</a></li>
          <li><a href="../template/about.html">ABOUT</a></li>
          <!-- <li><a href="#">CLASS</a></li>
          <li><a href="#">TRAINER</a></li> -->
          <li><a href="../template/blog.html">BLOG</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="#">SERVICE</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- HERO-SECTION  -->
  <div class="hero-section">
    <div class="left-right-hero">
      <div class="left-hero">
        <p>We are here to transfrom you</p>
        <div class="button-start">
          <a href="">
            <button class="get-start">Get Started
              <i class="ri-arrow-right-line" style="color: #fff;font-size: 1.2vw;"></i>
            </button></a>
        </div>
      </div>
      <div class="right-hero">
        <img src="../images/about-us.svg" alt="">
      </div>
    </div>
  </div>
  <div class="line"></div>

  <!-- WORK DEFINE  -->
  <div class="work-define">
    <div class="define-head">
      <h4>WHAT WE DO</h4>
      <p>We Provide Best <span>Solution </span>For You</p>
    </div>

    <div class="course-info">
      <div class="info">
        <img src="../images/hacking-about.webp" alt="">
        <h2><a href="../template/hacking-course.html">Ethical Hacking</a></h2>
        <p>Development is the happiness</p>
      </div>
      <div class="info">
        <img src="../images/design.webP" alt="">
        <h2><a href="../template/ui-ux-course.html">Ui/Ux Design</a></h2>
        <p>Development is the happiness</p>
      </div>
    </div>
    <!-- BOTTOM BOX FOR INFO  -->
    <div class="info">
      <img src="../images/web-development.webP" alt="">
      <h2><a href="../template/web-course.html">Web Development</a></h2>
      <p>Development is the happiness</p>
    </div>
  </div>

  <!-- WHO WE ARE  -->

  <div class="know-us">
    <div class="left-right-know-us">
      <div class="left-know-us">
        <img src="../images/creativity.svg" alt="">
      </div>
      <div class="right-know-us">
        <h6>WHO WE ARE</h6>
        <h3>We Are Creative Since <span>2024</span></h3>
        <p>It's is a new period of time where we are growing day by day... </p>

        <div class="button-learn">
          <img src="../images/logo.png" alt="">
          <a href="template/register.html">
            <button class="learn-more">Learn more
              <i class="ri-arrow-right-line" style="color: #fff;font-size: 1.2vw;"></i>
            </button></a>
        </div>
      </div>
    </div>
  </div>


  <!-- FOOTER SECTION  -->
  <div class="footer">
    <div class="footer-list">
      <!-- FOOTER LEFT  -->
      <div class="footer-left">
        <div class="subscribe">
          <h4>SUBSCRIBE</h4>
          <input type="text" placeholder="Subscribe for updates">
        </div>
      </div>

      <!-- FOOTER RIGHT  -->
      <div class="footer-right">
        <ul>
          <li>Contact Us</li>
          <li>Eduhub@gmail.com</li>
          <li>000-000-000</li>
        </ul>
        <ul>
          <li>Pricing and Refunds</li>
          <li>Work with us</li>
          <li>Feedback</li>
        </ul>
        <ul>
          <li>About EduHub</li>
          <li>Inquiry</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </div>
    <!-- </div> -->



</body>
<script src="../js/move.js"></script>

</html>