<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="x-icon" href="../images/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="../css/blog.css">
  <link rel="stylesheet" href="../css/color.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>

  <div class="header-container">
    <div class="header">
      <div class="logo">Eduhub</div>
 <!-- MOBILE MENU  -->
 <nav id="sidenav">
  <ul>
    <li><a href="../index.html">HOME</a></li>
    <li><a href="../template/about.html">ABOUT</a></li>
    <li><a href="../template/blog.html">BLOG</a></li>
    <li><a href="#footer-contact">CONTACT</a></li>
    <li><a href="#service-contact">SERVICE</a></li>
  </ul>
</nav>
<i class="ri-menu-3-line" id="menuBtn" onclick="show()"></i>
<!-- -----------  -->

      <div class="list-items">
        <ul>
          <li><a href="../index.html">HOME</a></li>
          <li><a href="../template/about.html">ABOUT</a></li>
          <!-- <li><a href="#">CLASS</a></li>
          <li><a href="#">TRAINER</a></li> -->
          <li><a href="../template/blog.html">BLOG</a></li>
          <li><a href="#footer-contact">CONTACT</a></li>
          <li><a href="#service-contact">SERVICE</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- HERO SECTION  -->
  <div class="hero-container">
    <div class="hero-left-right">
      <div class="hero-left" id="service-contact">
        <h4>We Help You Make A <span>Job</span> Ready</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque praesentium, error repudiandae nesciunt
          dolores laudantium maxime inventore, voluptas, placeat sed cumque deserunt labore delectus omnis officia sequi
          et incidunt. Error provident laboriosam aperiam nostrum!</p>
        <div class="button-start">
          <a href="">
            <button class="get-start">Get Started
              <i class="ri-arrow-right-line" style="color: #fff;font-size: 1.2vw;"></i>
            </button></a>
        </div>
      </div>
      <div class="hero-right">
        <img src="../images/blog-hero.webP" alt="">
      </div>
    </div>
    <!-- BOXES  -->
    <div class="boxes">
      <div class="box">
        <!-- <div class="box-img">
          <img src="../images/logo.png" alt="">
        </div> -->
        <h5>800</h5>
        <p>Complete Projects</p>
      </div>
      <div class="box">
        <!-- <div class="box-img">
          <img src="../images/logo.png" alt="">
        </div> -->
        <h5>800+</h5>
        <p>Client's</p>
      </div>
    </div>
  </div>

  <!-- CUSTOMER REVIEW  -->
  <div class="review-container">
    <div class="review-head">
      <P>Our Happy Customers</P>
    </div>
    <div class="review-box">
      <!-- CUSTOMER REVIEW 1  -->
      <div class="customer-review">
        <i class="fa fa-quote-left fa-3x text-white" style="padding: 1vw;"></i>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis quae facilis sunt.</p>
        <div class="customer-img">
          <img src="../images/client1.webP" alt="">
          <p class="customer-name">Client</p>
          <p class="profession">Profession</p>
        </div>
      </div>

      <!-- CUSTOMER REVIEW 2  -->
      <div class="customer-review">
        <i class="fa fa-quote-left fa-3x text-white" style="padding: 1vw;"></i>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis quae facilis sunt.</p>
        <div class="customer-img">
          <img src="../images/client2.webP" alt="">
          <p class="customer-name">Client</p>
          <p class="profession">Profession</p>
        </div>
      </div>

      <!-- CUSTOMER REVIEW 3  -->
      <div class="customer-review">
        <i class="fa fa-quote-left fa-3x text-white" style="padding: 1vw;"></i>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis quae facilis sunt.</p>
        <div class="customer-img">
          <img src="../images/client3.webP" alt="">
          <p class="customer-name">Client</p>
          <p class="profession">Profession</p>
        </div>
      </div>

    </div>


  </div>

  <!-- HELPER DESK  -->
  <div class="helper-desk">
    <div class="helper-box">
      <!-- LEFT  -->
      <div class="left-help">
        <img src="../images/help-img.webP" alt="">
      </div>
      <!-- RIGHT  -->
      <div class="right-help">
        <h4>Have Any Question ?</h4>
        <p>Rach Out and Let's Talk</p>
        <div class="button-talk">
          <input type="text" name="" id="" placeholder="Request Call Back">
          <a href="">
            <button class="talk-start">Talk
              <i class="ri-arrow-right-line" style="color: #fff;font-size: 1.2vw;"></i>
            </button></a>
        </div>
      </div>
    </div>
  </div>


  <!-- FOOTER SECTION  -->
  <div class="footer">
    <div class="footer-list">
      <!-- FOOTER LEFT  -->
      <div class="footer-left">
        <div class="subscribe">
          <h4>SUBSCRIBE</h4>
          <input type="text" placeholder="Subscribe for updates">
        </div>
      </div>

      <!-- FOOTER RIGHT  -->
      <div class="footer-right" id="footer-contact">
        <ul>
          <li>Contact Us</li>
          <li>Eduhub@gmail.com</li>
          <li>000-000-000</li>
        </ul>
        <ul>
          <li>Pricing and Refunds</li>
          <li>Work with us</li>
          <li>Feedback</li>
        </ul>
        <ul>
          <li>About EduHub</li>
          <li>Inquiry</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </div>
    <!-- </div> -->



</body>
<script src="../js/move.js"></script>
<script src="../js/side-nav.js"></script>
</html>