<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="x-icon" href="../images/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Development Skill's</title>
  <link rel="stylesheet" href="../css/explore-development.css">
  <link rel="stylesheet" href="../css/color.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>

  <div class="header-container">
    <div class="header">
      <div class="logo">Eduhub</div>
      <div class="list-items">
        <ul>
          <li><a href="../index.html">HOME</a></li>
          <li><a href="../template/about.html">ABOUT</a></li>
          <!-- <li><a href="#">CLASS</a></li>
          <li><a href="#">TRAINER</a></li> -->
          <li><a href="../template/blog.html">BLOG</a></li>
          <li><a href="#footer-contact">CONTACT</a></li>
          <li><a href="#service-contact">SERVICE</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- HERO SECTION  -->

  <div class="hero-section">
    <div class="left-right-development">
      <div class="left-development">
        <img src="../images/development-skill.svg" alt="">
      </div>
      <div class="right-development">
        <h1>Explore What We Provide</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint repellat voluptatum expedita assumenda facere
          quasi tenetur sit magni, praesentium nesciunt ratione officia iusto. Velit repudiandae neque, ex enim
          recusandae aliquam quos amet iusto consequatur
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit quia ab numquam?</p>
        <div class="button-learn">
          <a href="../template/explore-course.html">
            <button class="start-with">Start With Us
              <i class="ri-arrow-right-line" style="color: #fff;font-size: 1.2vw;"></i>
            </button></a>
        </div>
      </div>
    </div>
  </div>



  <!-- FOOTER SECTION  -->
  <div class="footer">
    <div class="footer-list">
      <!-- FOOTER LEFT  -->
      <div class="footer-left">
        <div class="subscribe">
          <h4>SUBSCRIBE</h4>
          <input type="text" placeholder="Subscribe for updates">
        </div>
      </div>

      <!-- FOOTER RIGHT  -->
      <div class="footer-right" id="footer-contact">
        <ul>
          <li>Contact Us</li>
          <li>Eduhub@gmail.com</li>
          <li>000-000-000</li>
        </ul>
        <ul>
          <li>Pricing and Refunds</li>
          <li>Work with us</li>
          <li>Feedback</li>
        </ul>
        <ul>
          <li>About EduHub</li>
          <li>Inquiry</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </div>
    <!-- </div> -->



</body>
<script src="../js/move.js"></script>

</html>