<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="x-icon" href="../images/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="../css/register.css">
  <link rel="stylesheet" href="../css/color.css">
  <link rel="stylesheet" href="../mobileports/register.css">
</head>

<body>
  <div class="form-container">
    <div class="form-image">
      <img src="../images/logo.png" alt="">
    </div>

    <div class="form">
      <div class="heading">
        <h4>Eduhub</h4>
      </div>
      <div class="all-field">
        <form action="connection.php" method="POST">
          <div class="input-field">
            <label>Username</label>
            <input type="text" name="name" class="input-tag" id="loginname"  required>
          </div>
          <div class="input-field">
            <label>Password</label>
            <input type="text" name="pass" class="input-tag" id="loginpass"  required>
          </div>
          <input type="submit" name="btn" class="submit-btn" onclick="return loginValidation()">
        </form>
      </div>

      <div class="login-link">
        <p>Not a Member?</p>
        <a href="../template/register.html">Register Here</a>
      </div>

      <div class="register-through">
        <a href=""><i class="ri-google-fill"></i></a>
        <a href=""><i class="ri-github-fill"></i></i></a>
        <a href=""><i class="ri-facebook-circle-fill"></i></a>
        <a href=""><i class="ri-linkedin-fill"></i></a>
      </div>
    </div>
  </div>

</body>
<script src="../js/validation.js"></script>

</html>