<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="x-icon" href="../images/logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ui-Ux Course</title>
  <link rel="stylesheet" href="../css/ui-ux-course.css">
  <link rel="stylesheet" href="../css/color.css">
  <link rel="stylesheet" href="../mobileports/ui-ux-course.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>

  <div class="header-container">
    <div class="header">
      <div class="logo">Eduhub</div>
       <!-- MOBILE MENU  -->
       <nav id="sidenav">
        <ul>
          <li><a href="../index.html">HOME</a></li>
          <li><a href="../template/about.html">ABOUT</a></li>
          <li><a href="../template/blog.html">BLOG</a></li>
          <li><a href="#footer-contact">CONTACT</a></li>
          <li><a href="#service-contact">SERVICE</a></li>
        </ul>
      </nav>
      <i class="ri-menu-3-line" id="menuBtn" onclick="show()"></i>
      <!-- -----------  -->

      <div class="list-items">
        <ul>
          <li><a href="../index.html">HOME</a></li>
          <li><a href="../template/about.html">ABOUT</a></li>
          <!-- <li><a href="#">CLASS</a></li>
          <li><a href="#">TRAINER</a></li> -->
          <li><a href="../template/blog.html">BLOG</a></li>
          <li><a href="#footer-contact">CONTACT</a></li>
          <li><a href="#service-contact">SERVICE</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- HERO-HEAD  -->
  <div class="hero-head">
    <div class="course-image">
      <img src="../images/logo.png" alt="">
    </div>
    <h1>COURSES</h1>
    <div class="courses-navbar">
      <div class="buttons">
        <a href="../template/explore-course.html"><button class="btn">EXPLORE-ALL</button></a>
        <a href="../template/frontend-course.html"><button class="btn">FRONT-END/BACK-END</button></a>
        <a href="../template/hacking-course.html"><button class="btn">HACKING</button></a>
        <a href="../template/ui-ux-course.html"><button class="btn">UI-UX</button></a>
        <a href="../template/web-course.html"><button class="btn">WEB-DEVELOPMENT</button></a>
      </div>
    </div>
  </div>

  <!-- COURSES CONTAINER  -->
  <div class="courses-container">
    <!-- COURSE BOX 1 -->


    <div class="course-box" id="service-contact">
      <div class="left-course">
        <img src="../images/ui.svg" alt="">
      </div>
      <div class="right-course">
        <h5>Ui / Ux</h5>
        <p>Design Without Code</p>
        <div class="rating">
          <i class="ri-star-fill"></i>
          <i class="ri-star-fill"></i>
          <i class="ri-star-fill"></i>
          <i class="ri-star-fill"></i>
          <i class="ri-star-fill"></i>
        </div>
        <div class="price">
          ₹8999
        </div>
        <div class="enroll-button">
          <a href="#"><button class="enroll" onclick="openPopup()">ENROLL</button></a>
          <a href="" download="curriculam.png"><i class="ri-file-download-fill"></i></a>
        </div>
      </div>
    </div>
  </div>
 <!-- POPUP CONTENT START  -->
 <div class="popup" id="enrollPopup">
  <div class="popup-content">
    <span class="close" onclick="closePopup()">&times;</span>
    <h1>Eduhub Payment</h1>
    <h3>Choose Payment Option</h3>
    <!-- OPTIONS -->
    <div class="options">
      <p>Debit/Credit card</p>
      <span class="payment-icon">
        <i class="ri-mastercard-fill"></i>
      </span>
    </div>
    <!-- BOX-2  -->
    <div class="options">
      <p>Net Banking</p>
      <span class="payment-icon">
        <i class="ri-bank-line"></i>
      </span>
    </div>

    <!-- BOX-3  -->
    <div class="options">
      <p><img src="../images/google.webP" alt="">Pay</p>
      <span>
        <img src="../images/upi.webP" alt="">
      </span>
    </div>
    <!-- BOX-4  -->
    <div class="options">
      <p><img src="../images/phonepay.webP" alt="">PhonePay</p>
      <span>
        <img src="../images/rupayy.webP" alt="">
      </span>
    </div>
    <div class="payment-button">
      <a href="#"><button class="payment-btn" onclick="openPopup()">ENROLL</button></a>
    </div>
  </div>
</div>
<!--  POPUP CONTENT END -->

  <!-- FOOTER SECTION  -->
  <div class="footer">
    <div class="footer-list">
      <!-- FOOTER LEFT  -->
      <div class="footer-left">
        <div class="subscribe">
          <h4>SUBSCRIBE</h4>
          <input type="text" placeholder="Subscribe for updates">
        </div>
      </div>

      <!-- FOOTER RIGHT  -->
      <div class="footer-right" id="footer-contact">
        <ul>
          <li>Contact Us</li>
          <li>Eduhub@gmail.com</li>
          <li>000-000-000</li>
        </ul>
        <ul>
          <li>Pricing and Refunds</li>
          <li>Work with us</li>
          <li>Feedback</li>
        </ul>
        <ul>
          <li>About EduHub</li>
          <li>Inquiry</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </div>
    <!-- </div> -->




</body>
<script src="../js/move.js"></script>
<script src="../js/popup.js"></script>
<script src="../js/side-nav.js"></script>
</html>