@media (max-width: 900px) {
  .logo {
    margin: 4vw;
    font-size: 5vw;
  }
  .left h6 {
    font-size: 2.3vw;
  }
  .list-items {
    display: none;
  }
  /* MOBILE MENU  */

  #sidenav {
    display: initial;
    width: 80%;
    height: 100vh;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: var(--black-background);
    z-index: 2;
    transition: 1s;
  }
  nav ul li {
    list-style-type: none;
    margin: 10vw 4vw;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    cursor: not-allowed;
  }
  #menuBtn {
    display: initial;
    position: fixed;
    right: 2vw;
    top: 0;
    z-index: 2;
    margin-top: 3vw;
    font-size: 7vw;
  }

  /* HERO SECTION  */
  .hero-left-right {
    display: block;
  }
  /* HERO LEFT  */
  .hero-left {
    width: 100%;
  }
  .hero-left h4 {
    color: var(--text-color-white);
    margin: 2vw 8vw;
    font-size: 3vw;
    text-wrap: wrap;
  }
  .hero-left p {
    line-height: 5vw;
  }

  /* GET-START BUTTON  */

  .get-start {
    width: 22vw;
    height: 6vw;
    font-size: 3.2vw;
  }

  i {
    font-size: 3vw;
  }
  /* HERO RIGHT  */
  .hero-right {
    display: block;
    width: 100%;
    margin-bottom: 10vw;
  }
  .hero-right img {
    width: 80%;
    margin-left: 5vw;
  }

  /* BOXES */
  .boxes {
    display: none;
  }

  /* CUSTOMER REVIEW  */
  .review-container {
    margin-top: 20vw;
    gap: 2vw;
  }
  .review-head {
    font-size: 7vw;
  }

  .review-box {
    display: flex;
    flex-wrap: wrap;
    margin: 2vw 9vw;
    gap: 2vw;
  }
  .customer-review {
    width: 100%;
    height: 50vw;
  }
  .customer-review:hover {
    cursor: not-allowed;
  }
  .customer-review p {
    margin-left: 3vw;
  }

  .customer-img img {
    height: 10vw;
  }
  .customer-img .customer-name {
    margin-top: 2vw;
    margin-left: 4vw;
  }
  .customer-img .profession {
    margin-top: 8vw;
   left: 14vw;
  }

  
/* HELPER DESK  */
.helper-desk {
  margin-top: 10vw;
  position: relative;
}
.helper-box {
  width: 70%;
  height: 25vw;
}
/* LEFT HELP  */
.left-help {
  width: 30%;
  float: left;
}

.left-help img {
  height: 30vw;
}

/* RIGHT HELP  */
.right-help {
    width: 80%;
    height: 20vw;
}
.right-help h4 {
  font-size: 5vw;
}
.right-help p {
  font-size: 2.5vw;
  margin-top: 2vw;
}

/* TALK BUTTON  */
.button-talk input {
  width: 60%;
  height: 6vw;
}

.talk-start {
  width: 15vw;
  height: 6vw;
  font-size: 4vw;
  margin-top: .6vw;
}

}
