@media (max-width: 900px) {
  .logo {
    margin: 4vw;
    font-size: 5vw;
  }
  .left h6 {
    font-size: 2.3vw;
  }
  .list-items {
    display: none;
  }

  /* MOBILE MENU  */
  #sidenav {
    display: initial;
    width: 80%;
    height: 100vh;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: var(--black-background);
    z-index: 2;
    transition: 1s;
  }

  nav ul li {
    list-style-type: none;
    margin: 10vw 4vw;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    cursor: not-allowed;
  }
  #menuBtn {
    display: initial;
    position: fixed;
    right: 2vw;
    top: 0;
    z-index: 2;
    margin-top: 3vw;
    font-size: 7vw;
  }

  /* HERO SECITON  */

  .left-right-development {
    display: block;
  }

  .left-development {
    width: 100%;
  }
  .right-development {
    width: 100%;
  }

  .right-development h1 {
    font-size: 4vw;
  }
  .right-development p {
    font-size: 3vw;
    line-height: 3.4vw;
    width: 100%;
  }

  .start-with {
    width: 20vw;
    height: 5vw;
    font-size: 2.2vw;
    top: 1vw;
    bottom: 2vw;
  }

  .start-with i {
    font-size: 3.2vw;
  }

}
